# /
/**/*.suo
/**/*.ncb
/**/*.sdf
/**/*.opensdf
/**/ipch
/**/*.user
/**/_ReSharper.*
/**/*.dbmdl
/**/*.dacpac
/**/*.jfm
/**/*.user
/**/*.aps
/**/*.eto
/**/packages
/**/.vs
/**/[Bb]in
/**/obj
/**/[Dd]ebug
/**/[Rr]elease
/**/ClientBin
/**/GeneratedArtifacts
/**/_Pvt_Extensions
/**/project.lock.json
/**/*.nuget.props
/**/*.nuget.targets
/**/*.log
/**/[Aa]pp_[Dd]ata
/**/sql/debug/*.*
/**/*.msi
/**/_published-app
